apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: simple-el
spec:
  serviceAccountName: tekton-triggers-admin
  triggers:
    - name: simple-container
      interceptors:
        - github:
            secretRef:
              secretName: github-webhook-token
              secretKey: shared
            eventTypes:
        - cel:
            filter: "header.match('X-GitHub-Event', 'push') && (split(body.ref, '/')[1] == 'tags') && (body.repository.name in ['calproxy', 'goproxy', 'http-server', 'statslogger', 'vanity', 'webstyle'])"
            overlays:
              - key: extensions.tag_name
                expression: "split(body.ref, '/')[2]"
              - key: extensions.mangledtag
                expression: "split(split(body.ref, '/')[2], '.')[0]+'-'+split(split(body.ref, '/')[2], '.')[1]+'-'+split(split(body.ref, '/')[2], '.')[2]"
      bindings:
        - name: simple-container
      template:
        name: simple-container