# Directories
.vscode/
keys/
inventory/turing-pi
.terraform/
charts/
.tests/

# Files
*.pem
*.key
*.crt
*.state
*.tfstate
*.lock.hcl
*.info
*.backup
# Wireguard Files - Don't accidentally commit anything dumb 😃
privatekey
publickey
gitleaks*

# Terraform Files
provider.tf
backend.tf

# Python Directory
.env/

# Python Files
*.py[cod]