# Directories
.vscode/
keys/
inventory/turing-pi
.terraform/

# Files
*.pem
*.key
*.crt
*.state
*.tfstate
*.lock.hcl
*.info
*.backup

# Don't accidentally commit K3s files!!
config.yaml

# Python Directory
.env/

# Python Files
*.py[cod]