# Directories
.vscode/
keys/
inventory/turing-pi
.terraform/
charts/

# Files
*.pem
*.key
*.crt
*.state
*.tfstate
*.lock.hcl
*.info
*.backup
# Wireguard Files - Don't accidentally commit anything dumb 😃
privatekey
publickey

# Terraform Files
provider.tf
backend.tf

# Don't accidentally commit K3s files!!
config.yaml

# Python Directory
.env/

# Python Files
*.py[cod]