---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jenkins-ce

resources:
  - ns.yaml
  - rbac.yaml
  - ingress.yaml
  - statefulset.yaml

images:
  - name: jenkins-image
    newName: jenkins/jenkins
    newTag: 2.319.3-lts
