---
apiVersion: v1
kind: Pod
metadata:
  name: gpu-operator-test
spec:
  restartPolicy: OnFailure
  runtimeClassName: nvidia
  nodeSelector:
    kubernetes.io/nvidia: "true"
  containers:
    - name: cuda-vector-add
      image: "nvidia/samples:vectoradd-cuda11.6.0"
      resources:
        limits:
          nvidia.com/gpu: 1
