---
apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: resume-dot-danmanners-dot-com
  namespace: resume-dot-danmanners-dot-com
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: resume-dot-danmanners-dot-com
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 70
