---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pihole

helmCharts:
  - name: pihole
    releaseName: pihole
    namespace: pihole
    repo: https://mojo2600.github.io/pihole-kubernetes/
    version: "2.9.1"
    valuesFile: values.yaml

generators:
  - ksops-generator.yaml
