opcluster-tcp01.homelab.danmanners.com.yaml
opcluster-tcp02.homelab.danmanners.com.yaml
opcluster-tcp03.homelab.danmanners.com.yaml
talosconfig
opcluster-minipc01.homelab.danmanners.com.yaml
opcluster-minipc02.homelab.danmanners.com.yaml
opcluster-gpu.homelab.danmanners.com.yaml
