---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sonarqube

resources:
  - ns.yaml
  - psql-ingress.yaml
  - psql-statefulset.yaml
  - sonar-ingress.yaml
  - sonar-statefulset.yaml

images:
  - name: sonarqube-image
    newName: sonarqube
    newTag: 9.5.0-community
  - name: postgres-image
    newName: postgres
    newTag: "14.3"

generators:
  - secrets-generator.yaml
