---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argo-events

resources:
  - namespace.yaml
  - github.com/argoproj/argo-events/manifests/cluster-install?ref=release-1.7
