---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: minecraft

helmCharts:
  - name: minecraft
    releaseName: minecraft
    namespace: minecraft
    repo: https://itzg.github.io/minecraft-server-charts/
    version: "4.1.0"
    valuesFile: values.yaml

patchesStrategicMerge:
  - |-
    apiVersion: v1
    kind: Secret
    metadata:
      name: minecraft-minecraft
    $patch: delete
